.search-card {
  margin: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-group > mat-form-field {
  width: 25em;
}
