.search-card {
  margin: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-group > mat-form-field {
  width: 25em;
}

.newsCard {
  margin-bottom: 2rem;
}

.all-news-card {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.spinner {
  float: left;
  width: .25rem;
  height: .25rem;
  margin: 5px 10px 0px 0px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-spinner {
  margin-left: .5rem;
}
