<mat-toolbar class="top-nav" color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/" class="top-nav-link">News Explorer</a>
    <a mat-button routerLink="/search" class="top-nav-link">Search</a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-container mat-app-background">
  <router-outlet></router-outlet>
  <mat-toolbar class="footer" color="primary">
    <mat-toolbar-row>
      <a mat-button routerLink="/" class="top-nav-link">News Explorer</a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

